// Background colors
$background-white: white;
$background-primary: #e6dace;
$background-secondary: #f4ece6;
$background-blue: #000aff;

// Vector colors
$circle-cream-primary: #f0ddc9;
$circle-cream-secondary: #e6dace;
$circle-blue-primary: #d7d8f3;
$circle-blue-secondary: #cbcce5;
